[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin,inode/directory
MimeType=inode/directory;
Actions=openInSentinel;
X-KDE-Priority=TopLevel

[Desktop Action openInSentinel]
Name=Open in Sentinel Terminal
Icon=sentinel-terminal
Exec=sentinel "%f"
